.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5rem 0 0 0;
}

.about-image {
    width: 18vw;
    height: 24vw;
    border-radius: 10px;
}

.about-text {
    margin: 0 0 0 2rem;
}

.about-h1 {
    font-size: 3rem;
    margin: 0 0 0 0;
}
