/* * {
    border: #4756df 1px solid;
} */

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5em 1em 4em 1em;
    max-width: 60em;
    justify-content: center;
}

.project-grid {
    display: grid;
    flex-wrap: wrap;
    gap: 2em;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.text {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em 1em;
    grid-column-start: 2;
    font-family: Lato, sans-serif;
    line-height: 1.5;
}

.images {
    width: 100%;
    height: auto;
    border-radius: 10px;
    grid-column-start: 1;
}